:root {
    --primary-color: #085055;
    /*--primary-color-muted: #1D4358BF;*/
    --primary-color-muted: #085055bf;
    --accent-color: #f27a3b;
    /* --primary-color: #1D4358; */
    /* --accent-color: #F59856; */
    --accent-muted-color: #f6ad79c7;
    --secondary-color: #fff;
    --muted-color: #666666;
    --text-dark: #333;
    --border-color: #E6E6E6;
    --grey-bg-color: #e6e6e64d;
    --card-sec-bg: #F5F5F5;
    --grey-muted-color: #999999;
    --hover-card: #00000040;
    --muted-border-color: #f8f9fa;
    --font-inter: "Inter", sans-serif;
    --sidebar-mainheading: normal 600 24px/22px "Inter", sans-serif;

    --small-text: normal 100 12px/21px "Inter", sans-serif;
    --body-text: normal 400 16px/22px "Inter", sans-serif;

    --link-regular-text: normal 400 18px/22px "Inter", sans-serif;
    --link-text: normal 600 18px/21px "Inter", sans-serif;

    --card-title: normal 600 20px/21px "Inter", sans-serif;

    --h3-text: normal 600 22px/30px "Inter", sans-serif;

    --font400-text-16: normal 400 16px/21px "Inter", sans-serif;
    --font600-text-16: normal 600 16px/21px "Inter", sans-serif;

    --placeholder-text: normal 400 14px/21px "Inter", sans-serif;
    --medium-14-text: normal 500 14px/21px "Inter", sans-serif;

    --card-text20: normal 500 20px/21px "Inter", sans-serif;

    --card-lines-divider: #bcbcbc;

    --grey-bg-muted: #d9d9d94d;
    --card-main-heading: normal 600 22px/21px "Spectral", sans-serif;

}

.mb-0 {
    margin-bottom: 0;
}

.ps-2 {
    padding-left: 5px;
}

h1 {
    font-family: "Spectral", serif;
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-family: "Spectral", serif;
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-family: "Inter", serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.small-text {
    font: var(--small-text);
    font-weight:100 !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
}

p {
    font: var(--body-text);
}

.btn-accent {
    background-color: #f27a3b !important;
}

.btn-accent:hover {
    background-color: #f27a3b !important;
    border-color: #00000000;
    box-shadow: 0px 5px 6px 0px #7a7a7a;
}

.card-main-heading {
    font: var(--card-main-heading)
}

.bg-accent {
    background-color: var(--accent-color);
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-card {
    background-color: var(--card-sec-bg);
}
/* .species-rated .slick-slide{
    width: 315.75px !important;
    margin-right: 10px;
} */

.species-rated .item img{
  width: 405px !important;
}
.species-rated .item ,.about-rated .item,.search-rated .item ,.contact-top-rated .item{
  width: 405px !important;
  margin-right: 10px !important;
}
.search_card{
    font-size: 18px !important;
}
.national-text{
    font-size: 16px;
}
.wildlife-about  img{
    padding-right: 10px !important;
    border-radius: 20px !important;
}
/* slide-wrapper */
/* .about-rated .item{
    width: 405px !important;
  margin-right: 10px !important;
} */
.park-top-rated .item img{
  width: 405px !important;
}
.park-top-rated .item {
  width: 405px !important;
  margin-right: 10px !important;
}
.text-dark {
    color: var(--text-dark) !important;
}

.grey-text {
    color: var(--grey-muted-color);
}

.link-text {
    font: var(--link-text)
}

.primary-color-muted {
    color: var(--primary-color-muted);
}

.card-lines-divider {
    border-color: var(--card-lines-divider) !important;
}

.text-blue {
    color: #085055 !important;
}
.profile-button .btn:hover{
    background-color:transparent !important;
    color: black;
}
.profile-button .btn-primary:hover{
    background-color:white !important;
    color: black;
}
.profile-button .btn-primary{
     background-color:transparent !important;
    color: black;
}
.profile-button .btn{
     background-color:transparent !important;
    color: black;
}
.profile-button {
     background-color:transparent !important;
    color: black !important;
}
.profile-button button i{
    background-color:transparent  !important;
    color: black!important;
}
.profile-mute a{
    color: #085055 !important;
     background-color:transparent  !important;
}
.profile-mute a:hover{
    color: #085055 !important;
     background-color:transparent  !important;
}
/* .profile-button i:hover{
    background-color:white !important;
    color: white !important ;
} */
.grey-bg {
    background-color: var(--grey-bg-color);
}

.dark-grey-bg {
    background-color: var(--grey-bg-muted);
}

.text-accent {
    color: var(--accent-color);
}

.container-padding {
    padding: 0px 50px !important;
}

.card-text {
    font: var(--card-text20);
}

.border-primary {
    border-color: var(--border-color) !important;
}

.border-bg {
    background-color: var(--border-color);
}

.border-blue {
    border-color: var(--primary-color) !important;
}

.border-accent {
    border-color: var(--accent-color) !important;
}

.owl-theme .owl-dots .owl-dot span {
    background: var(--primary-color) !important;
    transition: background 0.3s ease;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--primary-color) !important;
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

.owl-carousel .item {
    padding: 10px;
}

.owl-dots {
    display: flex;
    align-items: end;
    justify-content: center;
}
.btn:hover{
    background-color: #f27a3b !important;
}
.btn:hover {
    color: white !important;
   background-color: #f27a3b !important;
}
.btn:hover {
    color: white !important;
   background-color: #f27a3b !important;
}
.btn-reset{
    padding: 6.75px 27px;
    border:  1px solid #0b5ed7;
    background-color: #085055;
    color: white;
    border-radius: 7px;
}
.btn-reset:hover{
    background-color: #0b5ed7;
}
.blue{
    border: none;
    padding: 6.75px 13.5px;
}
.blue-btn-hover:hover {
    background: #f27a3b !important;
    transition: 0.3s ease;
    border: none;
}

.blue-text-hover:hover {
    color: #f27a3b !important;
}

.blue-border-hover:hover {
    border-color: #f27a3b !important;
    transition: 0.3s ease;
}

.viewall-link a {
    color: var(--primary-color);
}

.viewall-link a:hover {
    color: var(--accent-color);
}

.dropdown-item {
    font: var(--font400-text-16);
}

.dropdown-item:hover {
    color: var(--accent-color);
    font: var(--font600-text-16);
}

.dropdown-item:active {
    background-color: var(--primary-color);
}

label.form-label,
.accordion-button {
    font: var(--font600-text-16);
    color: var(--text-dark);
}

.form-select:focus {
    border-color: var(--border-color);
    outline: 0;
    box-shadow: unset;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-size: 16px 12px;
    background-position: center;
}

.accordion-button:not(.collapsed) {
    color: var(--accent-color);
}

.accordion-button {
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-body {
    background-color: transparent !important;
}

.accordion-item {
    background-color: transparent !important;
    border: 0px;
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.card-img-top img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--accent-color) !important;
}

.select2-results__option {
    font-size: 16px;
}

a {
    color: var(--accent-color);
    text-decoration: underline;
}

li {
    font: var(--body-text);
}

.form-control {
    font: var(--font400-text-16);
}
li::marker {
    color: #696868;
    font-size: 20px;
}
i.fa.fa-circle {
    font-size: 5px;
    color: #696868;
    vertical-align: middle;
}
i.fa-regular.fa-circle-check {
    font-size: 14px;
    color: #696868;
}