*{
  margin: 0px;
  padding: 0px;
}
/* Some default styles */
body,
html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--text-dark);
}

